<nav>
    <% if user_signed_in? %>
        <span class= "nav-greeting"> <%= "Hello, #{current_user.username}!" %> <span/>
        <div class = "nav-menu">
            <div class = "one-link">
                <%= link_to "My First To Do List", todo_lists_path%>
            </div>
            
            <div class = "one-link">
                <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
            </div>
        
        </div>

    <% else %>
        <div class = "nav-menu">
            <div class = "one-link">
                <%= link_to "My First To Do List", new_user_session_path%>
            </div>
            <div class = "one-link">
                <%= link_to "Sign Up", new_user_registration_path %>
            </div>
        </div>
    <% end %>
</nav>